{% extends "base.html" %}

{% block content %}
<div id='metadata' class='container float-left'>
    <h1><strong>Name:</strong> {{ data['vid_name'] }}</h1>
    <h2>Publishing to YouTube account: {{ current_user.youtube_id }}</h2>
    <img src="{{ data['vid_icon'] }}">
</div>
<div class='container float-left' id='submit-form'> 
    <form action = "{{ url_for('send_youtube', proj_id=data['proj_id']) }}" method="post">    
        <div class='form-group'>            
            <label for="yt_title">Title</label>
            <input type="text" name="yt_title" value='{{ data["vid_name"]}}' id="yt_title" class="form-control"></input>
        </div>
        <div class='form-group'>            
            <label for="yt_desc">Description</label>
            <textarea rows="5" cols="50" name="yt_desc" placeholder="Enter description here..." id="yt_desc" class="form-control"></textarea>
        </div>  
        <div class="form-group">
            <label for="privacy">Privacy</label>
            <select class="form-control" id="privacy" name="privacy">
                <option value="public">Public</option>
                <option value="private">Private</option>
                <option value="unlisted">Unlisted</option>
            </select>
        </div>          
        <div class='form-group'>
            <label for="yt_tags">Tags</label>
            <textarea rows="5" cols="50" name="yt_tags" placeholder="Enter tags [single words, separate by commas (',')]" id="yt_tags" class="form-control"></textarea>
        </div>  
        <button type="submit" class="btn">Publish video to YouTube</button>
    </form>
</div>
{% endblock %}