<html>
    <head>
        <title>Video Sherpa Authentication Service</title>
    </head>
    <body>
        <h1>WE NEED TO ADD A LOGIN/ACCOUTN CREATION SEPARATE TO ACCOUNT VERIFICATION BELOW?</h1>
        <h1>Authenticate your website</h1>

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}

        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout')}}">Logout</a></p>

            {% if current_user.twitter_access_token is not none %}
                <p><a href="{{ url_for('send_twitter')}}">Upload video to Twitter</a></p>
                {% else %}
                <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Authorize Twitter</a></p>
            {% endif %}

            {% if current_user.youtube_access_token is not none %}
                <p><a href="{{ url_for('send_youtube')}}">Upload video to Youtube </a></p>
                {% else %}
                <p><a href="{{ url_for('oauth_authorize', provider='google') }}">Authorize Youtube</a></p>
            {% endif %}

            {% if current_user.facebook_access_token is not none%}
                <p><a href="{{ url_for('send_facebook')}}">Upload video to Facebook</a></p>
                {% else %}
                <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Authorize Facebook</a></p>            
            {% endif %}

            {% if current_user.insta_access_token is not none %}
                <p><a href="{{ url_for('send_insta')}}">Upload video to Instagram</a></p>
                {% else %}
                <p><a href="{{ url_for('oauth_authorize', provider='instagram') }}">Authorize Instagram</a></p>
            {% endif %}            

        <!-- This can be removed/changed once a different (likely in house) user auth service is implemented -->
        {% else %}
            <h2>Authorize your accounts here</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Authorize Facebook</a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Authorize Twitter</a></p>            
            <p><a href="{{ url_for('oauth_authorize', provider='google') }}">Authorize Youtube</a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='instagram') }}">Authorize Instagram</a></p>
        {% endif %}
    </body>
</html>
