{% extends "base.html" %}

{% block content %}
<div id='metadata'>
    <h1><strong>Name:</strong> {{ data['vid_name'] }}</h1>
    <h2>Publishing to Twitter account: @{{ current_user.twitter_id }}</h2>
    <img src="{{ data['vid_icon'] }}">
</div>
<div class='container' id='submit-form'> 
    <form action = "{{ url_for('send_twitter', proj_id=data['proj_id']) }}" method="post">    
        <div class='form-group'>            
            <label for="twitter_body">Tweet</label>
            <textarea rows="5" cols="50" name="twitter_body" placeholder="Enter tweet here..." id="twitter_body" class="form-control"></textarea>
        </div>    
        <button type="submit" class="btn">Submit</button>
    </form>
</div>    
{% endblock %}